@media (max-width: 1651px) {
  /* ============== WORKS ============== */
  .works__item {
    height: 272.5px;
  }
}

/* Широкоформатный экран — 1200px */
@media (max-width: 1201px) {
  body {
    font-size: 14px;
  }

  /* ============== HEADER AND INTRO ============== */
  .header__inner img {
    padding-left: 1.5em;
  }
  .navigation {
    width: 52%;
  }
  .navigation__link:last-child {
    margin-right: 2.2em;
  }
  .grayLine {
    width: 96%;
    margin: 0 auto;
  }
  .intro__title {
    font-size: 60px;
  }
  .intro__text {
    font-size: 20px;
  }
  .button-block {
    margin-top: 3.95em;
  }
  .intro {
    padding-top: 13em;
    padding-bottom: 8.2em;
  }

  /* ============== FEATURES ============== */
  .features-item {
    margin-top: 6em;
  }
  .feature__name {
    margin-top: 1.9em;
  }
  .feature__text {
    font-size: 13.5px;
    margin-top: 1.38em;
  }

  /* ============== WORKS ============== */
  .works__item {
    height: 16em;
  }

  /* ============== TEAM ============== */
  .team-mainPart {
    justify-content: space-around;
  }
  .team__item {
    margin-top: 5.8em;
  }
  .team__item:first-child {
    padding-left: 0.6em;
  }
  .team__photo {
    width: 14.5em;
    height: 14.5em;
  }
  .team__people-name {
    font-size: 19px;
  }
  .people-work {
    font-size: 12px;
    margin-bottom: 1.5em;
  }
  .team__text {
    width: 17em;
    font-size: 12.3px;
  }
  .team__social {
    padding-bottom: 4.25em;
  }

  /* ============== REVIEWS ============== */
  .reviews__photo {
    width: 55%;
    height: 27.5em;
  }
  .reviews__img {
    width: 47.5em;
    height: inherit;
  }
  .reviews__content {
    width: 45%;
  }
  .reviews__text {
    font-size: 26.7px;

    padding-left: 1.3em;
    padding-top: 2.35em;
    width: 95%;
  }
  .reviews__author {
    font-size: 11px;
    margin-top: 1.8em;

    padding-left: 3.195em;
    padding-bottom: 90px;
  }
  .slicks-dots {
    left: calc(50% - 43.75px);
    bottom: 3.8em;
  }

  /* ============== DOWNLOAD ============== */
  .download__inner {
    padding-top: 5em;
  }
  .download__title {
    font-size: 23px;
  }
  .download__text {
    font-size: 11.8px;
  }
  .btn--long {
    height: 3em;

    margin-bottom: 5.175em;
  }
  .btn--long span {
    font-size: 12px;
  }

  /* ============== FOOTER ============== */
  .block-info__group {
    padding-top: 3.875em;
  }
  .block-info__headlines {
    margin-bottom: 1.25em;
  }
  .block-info__aboutText,
  .block-info__locationText {
    font-size: 14px;
  }
  .block-info__aboutText {
    width: 22em;
    padding-bottom: 4em;
  }
  .siteCreation__text {
    font-size: 13px;
  }
  .block-with-information {
    padding: 1.3em 0;
  }
}

/* Десктоп — 992px */
@media (max-width: 993px) {
  body {
    font-size: 13px;
  }

  /* ============== HEADER AND INTRO ============== */
  .navigation {
    width: 60%;
    justify-content: space-between;
  }
  .navigation__link:last-child {
    margin-right: 20px;
  }
  .header {
    height: 6em;
  }
  .header__inner {
    padding-top: 2.05em;
  }
  .grayLine {
    padding-top: 2.08em;
  }
  .intro__title {
    font-size: 48px;
  }
  .intro__text {
    font-size: 16.5px;
  }
  .button-block {
    margin-top: 3.4em;
  }
  .btn--red {
    width: 13.915em;
    height: 3.18em;
  }
  .intro {
    padding-top: 11em;
    padding-bottom: 7.2em;
  }

  /* ============== FEATURES ============== */
  .features-item {
    margin-top: 5em;
  }
  .feature__name {
    font-size: 13px;
    margin-top: 1.3em;
  }
  .feature__text {
    font-size: 13px;

    width: 85%;
    margin-top: 1.1em;
  }

  /* ============== WORKS ============== */
  .works__item {
    width: 33.33333%;
    height: 16em;
  }
  .works__item:nth-of-type(7),
  .works__item:last-child {
    display: none;
  }
  .works__item:nth-of-type(3),
  .works__item:nth-of-type(6) {
    border-right: 0;
  }
  .works__item:nth-of-type(4) {
    border-right: 1px solid #fff;
  }
  .works__title,
  .works__text {
    font-size: 12px;
  }

  /* ============== TEAM ============== */
  .team-mainPart {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .team__item {
    width: 50%;
    margin-top: 5em;
  }
  .team__item:first-child {
    padding-left: 0;
  }
  .team__item:nth-of-type(3),
  .team__item:last-child {
    margin-top: 0em;
  }
  .team__photo {
    display: block;
    margin: 0 auto;

    width: 18em;
    height: 18em;
  }
  .team__people-name {
    text-align: center;
    margin: 0 auto;
    margin-top: 1.3em;
    font-size: 18px;
  }
  .people-work {
    font-size: 13px;
    margin: 0.72em auto 1.1em;
    text-align: center;
  }
  .team__text {
    margin: 0 auto;
    text-align: center;
    width: 78%;
    font-size: 13px;
  }
  .team__social {
    display: flex;
    margin: 1.6em auto 0;
    padding-bottom: 4em;
    justify-content: center;
  }

  /* ============== REVIEWS ============== */
  #reviews {
    background-color: #f8f8d9;
  }
  .reviews__photo {
    position: relative;
    width: 575px;
    height: 25.6em;
  }
  .reviews__content {
    width: 575px;
    min-height: 24.9em;
    margin-left: auto;
    margin-right: 0;
  }
  .reviews__text {
    padding-top: 1.966em;
    padding-left: 1.3em;
  }
  .reviews__author {
    padding-bottom: 82.5px;
  }
  .slicks-dots {
    left: calc(50% - 40.625px);
    bottom: 3.5em;
  }

  /* ============== DOWNLOAD ============== */
  .download__inner {
    padding-top: 4em;
  }
  .download__title {
    font-size: 23px;
  }
  .download__text {
    margin-bottom: 2.5em;
  }
  .btn--long {
    width: 14.5em;
    height: 2.85em;

    margin-bottom: 4.3em;
    /* коэффициент 5.087 */
  }
  .btn--long span {
    font-size: 11.5px;
  }

  /* ============== FOOTER ============== */
  .block-info__group {
    padding-top: 3em;
  }
  .block-info__headlines {
    margin-bottom: 1.05em;
  }
  .block-info__aboutText,
  .block-info__locationText {
    font-size: 12.8px;
  }
  .block-info__aboutText {
    width: 93%;
    padding-bottom: 3.25em;
  }
  .share__links a {
    width: 2.4em;
    height: 2.4em;
  }
  .siteCreation__text {
    font-size: 12.5px;
  }
  .block-with-information {
    padding: 1.2em 0;
  }
}

/* Планшеты — 768px */
@media (max-width: 769px) {
  /* body */
  body {
    font-size: 12px;
  }

  /* ============== HEADER AND INTRO ============== */
  .header {
    height: 5.65em;
  }
  .header__inner {
    padding-top: 2em;
  }
  .header__inner img {
    width: 173px;
  }
  .navigation {
    display: none;
  }
  .burger__menu {
    display: flex;
  }
  .grayLine {
    padding-top: 1.96em;
    width: 95%;
  }
  .intro__title {
    font-size: 35px;
    margin-bottom: 0.5em;
  }
  .intro__text {
    font-size: 14.2px;
    width: 35em;
  }
  .button-block {
    margin-top: 2.7em;
  }
  .btn--red {
    width: 12em;
    height: 2.75em;
  }
  .btn--red span {
    font-size: 10px;
  }
  .intro {
    padding-top: 9.4em;
    padding-bottom: 5.6em;
  }

  /* ============== FEATURES ============== */
  .features-item {
    margin-top: 4.2em;
  }
  .feature__name {
    font-size: 11px;
  }
  .feature__text {
    font-size: 11px;

    width: 77%;
    margin-top: 1em;
  }

  /* ============== WORKS ============== */
  .works__item {
    height: 13.3em;
  }
  .works__title,
  .works__text {
    font-size: 11px;
  }

  /* ============== TEAM ============== */
  .team__photo {
    height: 15em;
    width: 15em;
  }
  .team__item {
    margin-top: 4.3em;
  }
  .team__people-name {
    font-size: 16px;
    margin-top: 1.1em;
  }
  .people-work {
    font-size: 11px;
    margin-top: 0.68em;
    margin-bottom: 0.9em;
  }
  .team__text {
    font-size: 11px;
    width: 78%;
  }
  .team__social {
    margin-top: 1.2em;
    padding-bottom: 3.8em;
  }

  /* ============== REVIEWS ============== */
  .reviews__photo {
    width: 100%;
    height: 24em;
  }
  .reviews__img {
    left: 0;
    width: calc(45em + 5px);
  }
  .reviews__content {
    width: calc(45em + 5px);
    min-height: 22.2em;
  }
  .reviews__text {
    font-size: 24.5px;
    padding-top: 1.6em;
  }
  .reviews__author {
    padding-left: 32.4px;
    padding-bottom: 70px;
  }
  .slicks-dots {
    position: absolute;
    left: calc(50% - 37.5px);
    bottom: 3.1em;
  }

  /* ============== DOWNLOAD ============== */
  .download__inner {
    padding-top: 3.6em;
  }
  .download__title {
    font-size: 20px;
  }
  .download__text {
    font-size: 11px;
    margin-bottom: 2.4em;
  }
  .btn--long {
    margin-bottom: 3.5em;
  }
  .btn--long span {
    font-size: 11px;
  }

  /* ============== FOOTER ============== */
  .block-info__group {
    padding-top: 2.5em;
  }
  .block-info__headlines {
    font-size: 12.5px;
    margin-bottom: 0.9em;
  }
  .block-info__locationText,
  .block-info__aboutText {
    font-size: 11.8px;
  }
  .block-info__aboutText {
    width: 95%;
    padding-bottom: 2.5em;
  }
  .share__links svg {
    height: auto;
    width: auto;
  }
  .siteCreation__text {
    font-size: 11px;
  }
  .block-with-information {
    padding: 1em 0 0.8em;
  }
}

/* Телефоны —  544px */
@media (max-width: 545px) {
  body {
    font-size: 11px;
  }

  /* ============== HEADER AND INTRO ============== */
  .header__inner img {
    width: 162px;
  }
  .burger__menu {
    width: 26px;
    margin-right: 16.5px;
  }
  .header__inner {
    padding-top: 1.82em;
  }
  .burger__menu span::before,
  .burger__menu span,
  .burger__menu span::after {
    height: 2.1px;
  }
  .header {
    height: 5.4em;
  }
  .grayLine {
    padding-top: 1.86em;
    width: 94%;
  }
  .intro__title {
    font-size: 25.05px;
    margin-top: 1.25em;
    margin-bottom: 0.47em;

    width: 85%;
    max-width: 13.41em;
  }
  .intro__text {
    font-size: 12px;

    width: 90.5%;
    max-width: 33em;
  }
  .button-block {
    margin-top: 1.8em;
  }
  .btn--red {
    width: 9.9em;
    height: 2.26em;
  }
  .btn--red span {
    font-size: 8.9px;
  }
  .intro {
    padding-top: 5.5em;
    padding-bottom: 4.4em;
  }

  /* ============== FEATURES ============== */
  .features-item {
    width: 50%;
    margin-top: 3.5em;
  }
  .feature__name {
    font-size: 11px;
  }
  .feature__text {
    width: 87%;
    font-size: 10px;

    max-width: 19em;
    margin-top: 0.8em;
  }

  /* ============== WORKS ============== */
  .works__item {
    width: 50%;
    height: 14.2em;
  }
  .works__item:nth-of-type(2),
  .works__item:nth-of-type(4) {
    border-right: none;
  }
  .works__item:nth-of-type(3) {
    border-right: 1px solid #fff;
  }
  .works__title {
    font-size: 11.4px;
  }
  .works__text {
    font-size: 11.5px;
  }

  /* ============== TEAM ============== */
  .team__item {
    margin-top: 3.7em;
  }
  .team__photo {
    height: 14.2em;
    width: 14.2em;
  }
  .team__people-name {
    font-size: 15px;
  }
  .people-work {
    margin-bottom: 0.7em;
  }
  .team__text {
    width: 80%;
    max-width: 18em;
  }
  .team__item:first-child .team__social,
  .team__item:nth-of-type(2) .team__social {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .team__item.team__item:nth-of-type(3),
  .team__item:nth-of-type(4) {
    padding-top: 3.3em;
  }
  .team__social {
    margin-top: 1.1em;
    padding-bottom: 3.4em;
  }

  /* ============== REVIEWS ============== */
  .reviews__photo {
    height: 21.3em;
  }
  .reviews__img {
    width: 422px;
  }
  .reviews__content {
    width: 422px;
    min-height: 19.25em;
  }
  .reviews__text {
    font-size: 20px;
    padding-top: 1.45em;
  }
  .reviews__author {
    font-size: 9px;
    padding-left: 2.95em;
    padding-bottom: 54px;
  }
  .slicks-dots {
    left: calc(50% - 31.33px);
    bottom: 2.7em;
  }
  .slicks-dots span {
    width: 0.64em;
    height: 0.64em;
  }

  /* ============== DOWNLOAD ============== */
  .download__inner {
    padding-top: 2.4em;
  }
  .download__title {
    font-size: 16px;
    line-height: 1.25em;
    text-align: center;

    width: 85%;
  }
  .download__text {
    font-size: 10px;

    margin-top: 0.9em;
    margin-bottom: 1.55em;
  }
  .btn--long {
    width: 12.8em;
    height: 2.55em;

    margin-bottom: 2.75em;
  }
  .btn--long span {
    font-size: 8px;
  }

  /* ============== FOOTER ============== */
  .block-info__group {
    padding-top: 1.9em;
  }
  .block-info__headlines {
    font-size: 10.5px;
    margin-bottom: 0.8em;
  }
  .block-info__locationText,
  .block-info__aboutText {
    font-size: 10.5px;
    line-height: 1.7em;
  }
  .block-info__aboutText {
    padding-bottom: 1.9em;
    width: 95%;
  }
  .share__links a {
    width: 2.1em;
    height: 2.1em;
  }
  .share__links svg {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .siteCreation__text {
    font-size: 9.5px;
  }
  .block-with-information {
    padding: 0.9em 0 0.75em;
  }
}

@media (max-width: 421px) {
  /* ============== HEADER AND INTRO ============== */
  .intro {
    padding-top: 5.5em;
    padding-bottom: 4.2em;
  }

  /* ============== WORKS ============== */
  .works__item {
    height: 11.4em;
  }

  /* ============== TEAM ============== */
  .team__photo {
    height: 12.8em;
    width: 12.8em;
  }
  .team__people-name {
    font-size: 14.3px;
  }
  .people-work {
    font-size: 11px;
  }
  .team__text {
    font-size: 10.6px;
  }

  /* ============== REVIEWS ============== */
  .reviews__photo {
    height: 17.6em;
  }
  .reviews__img {
    width: 100%;

    height: auto;
    max-height: 21.25em;
    min-height: 17.6em;

    top: 100%;
    transform: translateY(-100%);
  }
  .reviews__content {
    width: 100%;
    min-height: 19.7em;
  }
  .reviews__text {
    font-size: 18.5px;
    padding-top: 1.5em;
    padding-left: 1.08em;

    width: 96%;
  }
  .reviews__author {
    font-size: 8.7px;
    padding-left: 2.3em;
    padding-bottom: 52px;
  }
  .slicks-dots {
    bottom: 2.5em;
  }

  /* ============== DOWNLOAD ============== */
  .download__title {
    font-size: 15px;
  }
  .btn--long {
    width: 12em;
    height: 2.359em;
  }
  .btn--long span {
    font-size: 9px;
    line-height: 0;
  }

  /* ============== FOOTER ============== */
  .block-info__group {
    padding-top: 1.6em;
  }
  .block-info__headlines {
    font-size: 9.5px;

    width: 90%;
    text-align: center;
    margin: 0 auto 0.6em;
  }
  .share__links {
    margin-top: 0.8em;
  }
  .block-info__locationText,
  .block-info__aboutText {
    font-size: 9px;
    line-height: 1.6em;
  }
  .block-info__aboutText {
    padding-bottom: 1.75em;
  }
  .block-info__locationText {
    max-width: 14.285em;
    width: 95%;
  }
  .share__links a {
    width: 2em;
    height: 2em;
  }
  .share__links svg {
    margin-top: 0.8px;
  }
  .siteCreation__text {
    font-size: 8.7px;
  }
  .block-with-information {
    padding: 0.9em 0 0.75em;
  }
}

/* Айфон в портретном режиме — 320px */
@media (max-width: 321px) {
  /* body */
  body {
    font-size: 9px;
  }

  /* ============== HEADER AND INTRO ============== */
  .header__inner {
    padding-top: 1.5em;
  }
  .header__inner img {
    padding-top: 2.5px;
    padding-left: 0;
    width: 110px;
    margin-left: 0.9em;
  }
  .burger__menu {
    margin-right: 1.2em;
    width: 23px;
  }
  .burger__menu span::before {
    top: -7px;
  }
  .burger__menu span::after {
    top: 7px;
  }
  .burger__menu span::before,
  .burger__menu span,
  .burger__menu span::after {
    height: 1.9px;
  }
  .header {
    height: 5.04em;
  }
  .grayLine {
    padding-top: 1.623em;
    width: 94.5%;
  }
  .intro__title {
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 0.38em;
    width: 85%;
  }
  .intro__text {
    font-size: 9.5px;
  }
  .button-block {
    margin-top: 1.5em;
  }
  .btn--red {
    width: 7.6em;
    height: 1.74em;
  }
  .btn--red span {
    font-size: 7.4px;
  }
  .intro {
    padding-top: 5.3em;
    padding-bottom: 3.7em;
  }

  /* ============== FEATURES ============== */
  .features-item {
    margin-top: 2.8em;
  }
  .feature__name {
    font-size: 8.4px;
    margin-top: 1.2em;
  }
  .feature__text {
    font-size: 8px;
    margin-top: 0.6em;
    padding-bottom: 0;
  }

  /* ============== WORKS ============== */
  .works__item {
    height: 10.6em;
  }
  .works__title,
  .works__text {
    font-size: 8px;
  }

  /* ============== TEAM ============== */
  .team__item {
    margin-top: 3.25em;
  }
  .team__item.team__item:nth-of-type(3),
  .team__item:nth-of-type(4) {
    padding-top: 2.8em;
  }
  .team__photo {
    width: 10.5em;
    height: 10.5em;
  }
  .team__people-name {
    font-size: 10.5px;
    margin-top: 1em;
  }
  .people-work {
    font-size: 8.4px;
    width: 80%;
  }
  .team__text {
    font-size: 8px;
  }
  .team__social a {
    height: 2.15em;
    width: 2.15em;
  }
  .team__social {
    padding-bottom: 2.9em;
  }

  /* ============== REVIEWS ============== */
  .reviews__photo {
    height: 15em;
  }
  .reviews__img {
    max-height: 20em;
    min-height: 13em;
  }
  .slicks-dots {
    left: calc(50% - 25.5125px);
    bottom: 2em;
  }
  .slicks-dots span {
    width: 0.68em;
    height: 0.68em;
  }
  .reviews__content {
    min-height: 18em;
  }
  .reviews__text {
    font-size: 14.5px;
    padding-top: 1.55em;
    padding-left: 1.08em;
  }
  .reviews__author {
    font-size: 8px;
    margin-top: 1.3em;
    padding-left: 2em;
    padding-bottom: 37px;

    width: 96%;
  }

  /* ============== DOWNLOAD ============== */
  .download__inner {
    padding-top: 1.9em;
  }
  .download__title {
    font-size: 11px;
    width: 75%;
    max-width: 210px;
  }
  .download__text {
    font-size: 8px;
    width: 67%;
    margin: 0.65em auto 1.2em;
    text-align: center;
  }
  .btn--long {
    width: 9.9em;
    height: 2.2em;

    margin-bottom: 2.1em;
  }
  .btn--long span {
    font-size: 6px;
  }

  /* ============== FOOTER ============== */
  .block-info__group {
    padding-top: 1.7em;
  }
  .block-info__headlines {
    font-size: 8px;
    margin-bottom: 0;
    padding-bottom: 0.75em;
    max-width: 75%;
    min-width: 60px;
    margin: 0 auto;
  }
  .block-info__locationText,
  .block-info__aboutText {
    font-size: 7.6px;
  }
  .block-info__locationText {
    max-width: 11em;
    width: 88%;
  }
  .block-info__aboutText {
    padding-bottom: 1.5em;
    width: 90%;
  }
  .share__links {
    margin-top: 0.25em;
  }
  .share__links a {
    width: 2em;
    height: 2em;
    border: solid #fff 1px;
  }
  .share__links svg {
    margin-top: 0;
    margin-bottom: 0.2px;
  }

  .siteCreation__text {
    font-size: 7.5px;
  }
  .block-with-information {
    padding: 0.7em 0 0.7em;
  }
}

@media (max-width: 276px) {
  /* ============== HEADER AND INTRO ============== */
  .intro__title {
    width: 90%;
    font-size: 19px;
  }

  /* ============== REVIEWS ============== */
  .reviews__content {
    min-height: 18.3em;
  }
  .reviews__text {
    font-size: 14px;
    padding-top: 1.3em;
  }
  .reviews__author {
    font-size: 7px;
    margin-top: 1.3em;
    padding-left: 2.3em;
    padding-bottom: 35px;
  }
}
