body {
  font-family: 'Raleway';
  font-size: 16px;
  color: #fff;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  margin: 0;

  overflow-x: hidden;
}
body._lock {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 11px;
}
a {
  text-decoration: none;
}

/* ============== HEADER ============== */
.header {
  width: 100%;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Чтобы убрать синий фон при клике на элемент*/

  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.header._header-scroll::before,
.header._click-on-the-burger::before {
  background-color: #30344e;
}

.header._header-scroll .container .grayLine {
  border-bottom: solid 0px #505269;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  position: relative;
}

.header__body img {
  position: relative;
  z-index: 3;
}

._header__logo {
  cursor: pointer;
}

/* navigation - ссылок для перехода к блокам */
.header__menu {
  width: 50%;
}

.header__list {
  display: flex;

  position: relative;
  z-index: 2;

  padding: 0;
  justify-content: space-between;
}

.header__list li {
  list-style: none;
  padding: 0;
}

.header__list li:first-of-type {
  margin-left: 0;
}

.header__link {
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.74;
}

.header__link:hover {
  opacity: 1;
}
.grayLine {
  border-bottom: solid 1px #505269;
  text-align: center;
  margin: 0 auto;
}

.header__burger {
  display: none;
}
/* ----------------------------------------- */
/* Menu burger расписан в скрипте site_responsiveness.css - (max-width: 993px) */
/* ----------------------------------------- */

/* ============== INTRO ============== */
.intro {
  position: relative;
  width: 100%;
  background-image: url('../img/backgrounds/firstBlock-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 15.5em;
  padding-bottom: 9.75em;
}

.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__title {
  font-size: 65px;
  font-family: 'Open Sans';
  width: 13.41em;
  text-transform: uppercase;
  line-height: 1.09em;
  text-align: center;
  margin: 0 auto 0.63em;
}

.intro__text {
  font-size: 22px;
  line-height: 1.5em;
  font-weight: 400;
  width: 41.82em;
  margin: 0 auto;
  text-align: center;
}

.button-block {
  display: flex;
  justify-content: center;
  margin-top: 4.8125em;
}

.btn {
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Raleway';
  border: 0;
  border-radius: 2px;
  text-align: center;
}

.btn--red {
  width: 15.38em;
  height: 3.538em;
  background-color: #e84545;

  display: flex;
}

.btn--red span {
  font-size: 13px;
  line-height: 1.62em;
  font-weight: 600;
  text-align: center;
  color: #fff;

  margin: auto;
  align-items: center;
  flex-direction: column;
}

/* ============== FEATURES ============== */

.features__inner {
  font-size: inherit;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  font-size: inherit;
  margin-top: 7.5625em;
  padding: 0;
  width: 33.33%;
  text-align: center;
}

.feature__name {
  color: #2d3033;
  font-size: 14px;
  font-family: 'Raleway';
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;

  margin: 2.428em auto 0;
}

.feature__text {
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  width: 21.42em;
  color: #6c7279;

  margin: 1.78em auto 0;
  text-align: center;
}

/* ============== WORKS ============== */

#works {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  width: 25%;
  height: 21.875em;
  position: relative;
  overflow: hidden;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.works__item:nth-of-type(4),
.works__item:last-child {
  border-right: 0;
}

.works__item:hover .works__content {
  opacity: 1;
}

.works__photo {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: inherit;
}

.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(232, 69, 69, 0.85);
  opacity: 0;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  transition: opacity 0.2s linear;
}

.works__title {
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.works__text {
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  margin: 0.528em auto 0;
}

.works__title,
.works__text {
  width: 80%;
  text-align: center;
}
/* ============== TEAM ============== */

.team-mainPart {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.team__item {
  margin-top: 6.25em;
}

.team__photo {
  height: 15.625em;
  width: 15.625em;
}

.team__people-name {
  font-family: 'Raleway';
  font-size: 22px;
  line-height: 1.2em;
  font-weight: 400;
  color: #2d3033;

  margin-top: 1.36em;
}

.people-work {
  font-family: 'Raleway';
  font-size: 13px;
  line-height: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  color: #e84545;

  margin: 0.92em auto 1.846em;
}

.team__text {
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
  color: #6c7279;

  text-align: left;
  width: 19.285em;
}

.team__social {
  display: flex;
  margin-top: 1.6375em;
  padding-bottom: 5.75em;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.375em;
  height: 2.375em;
  border: 1px solid #e8ecee;

  margin-right: 4px;

  transition: background-color 0.2s linear;
}

.social__icon {
  display: block;
  fill: #c6cacc;

  transition: fill 0.15s linear;
}

.social__item:hover {
  background-color: rgb(227, 227, 227);
  border-color: #bdbdbd;
}

.social__item:hover .social__icon {
  fill: #311e85;
}

/* ============== REVIEWS ============== */

#reviews {
  overflow: hidden;

  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -khtml-user-select: none;

  background-color: #f8f8d9;
}

.reviews__item {
  display: none;
  opacity: 0;
}
._review__active {
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
}

.reviews__photo {
  position: relative;
  width: 49.91%;
  height: 31.25em;
}

.reviews__img {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;

  transform: translateY(-50%);
}

.reviews__content {
  background-color: #53354a;
  width: 50.09%;
  max-width: 962px;

  position: relative;
  float: left;
}

.reviews__text {
  font-family: 'Cardo';
  font-size: 36px;
  line-height: 1.166em;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;

  text-align: left;
  padding-top: 2.416em;
  padding-left: 2.361em;

  width: 16.38em;
}

.reviews__author {
  font-family: 'Raleway';
  font-size: 13px;
  line-height: 1.61em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;

  padding-left: 6.538em;
  margin-top: 2.307em;

  padding-bottom: 115px;
}

.slicks-dots {
  display: flex;
  position: absolute;
  bottom: 70px;
  left: 289px;
}

.slicks-dots span {
  width: 0.75em;
  height: 0.75em;

  border-radius: 100%;
  background-color: #fff;
  opacity: 0.2;

  margin-right: 0.5em;
}

.slicks-dots .active-point {
  opacity: 1;
}

/* ============== DOWNLOAD ============== */

.download__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 6.25em;
}

.download__title {
  font-size: 28px;
  line-height: 0.75em;
  font-family: 'Raleway';
  font-weight: 300;
  color: #2d3033;
}

.download__text {
  font-size: 13px;
  line-height: 1.615em;
  font-weight: 700;
  font-family: 'Raleway';

  text-transform: uppercase;
  color: #2d3033;

  margin: 1.23em auto 3.076em;
}

.btn--long {
  margin-bottom: 6.25em;
  font-size: inherit;
  width: 17.5em;
  height: 2.875em;
  background-color: #e84545;
  user-select: none;
  text-decoration: none;

  display: flex;
}

.btn--long span {
  font-family: 'Raleway';
  font-size: 13px;
  line-height: 1.615em;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;

  align-items: center;
  margin: auto;
}

/* ============== FOOTER ============== */

.block-info {
  width: 100%;
  height: auto;

  background-color: #3a3e64;
}

.block-info .container {
  display: flex;
  justify-content: space-around;
}

.block-info__group {
  text-align: center;
  width: 33.33%;

  padding-top: 4.4375em;
}

.block-info__headlines {
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: uppercase;

  user-select: none;
  margin-bottom: 1.57em;
}

.block-info__locationText {
  display: inline-block;
  width: 14.285em;

  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57em;

  opacity: 0.5;
}

/* SVG */
.share__links {
  display: flex;
  justify-content: center;
}

.share__links a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.5em;
  height: 2.5em;
  border: 2px solid #ffffff;
  border-radius: 2px;

  color: #fff;
  cursor: pointer;
  margin-right: 0.4375em;
}

.share__links a:last-child {
  margin-right: 0;
}

.share-onSocial-networks {
  font-size: inherit;
  fill: #fff;
}

.block-info__aboutText {
  display: inline-block;
  width: 23.57em;

  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57em;
  opacity: 0.5;

  padding-bottom: 5.5em;
}

.siteCreation-information {
  width: 100%;

  background-color: #313454;
}

.siteCreation__text {
  font-size: 14px;
  font-family: 'Raleway';
  line-height: 1.57em;
  font-weight: 400;
  color: #808080;

  text-align: center;
  width: 25em;
}

.font-change {
  font-family: 'Webdings';
  color: #e84545;
}

.color-change {
  color: #fff;
}

.block-with-information {
  display: flex;
  justify-content: center;

  padding: 1.8125em 0;
}
